body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
}

.container {
    text-align: center;
    color: #61dafb;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #61dafb;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 25%;
    margin: 10px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #68aac0;
}

.purple {
    background-color: #819ff9;
}

.flash {
    opacity: 1;
    transform: scale(1.1);
}

.userflash {
    background-color: #4caf50;
    transform: scale(1.1);
}

body.game-over {
    background-color: #ff5a5a;
    transition: background-color 0.5s ease-in-out;
}
