body{
    text-align: center;
}
div{
    height: 200px;
    width: 80%;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
button{
    margin: 20px;
}